body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .App {
    text-align: center;
    padding: 20px;
  }
  


  button.active {
    background-color: #4CAF50; /* Green */
    color: white;
    font-weight: bold;
  }
  button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(58, 81, 198);
    cursor: pointer;
  }
  button:hover {
    color: #ffaa00;
  }
  

  .card {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
  
  .card h3 {
    margin: 0 0 10px;
    font-size: 16px;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .card ul li {
    margin-bottom: 8px;
  }
  
  .card ul li strong {
    font-weight: bold;
  }
  
  .info-card {
    margin-top: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .info-card h2 {
    margin-bottom: 10px;
  }
  
  .info-card p {
    margin: 5px 0;
  }
  